
@model EmployeeORD
@{
    ViewData["Title"] = "Home Page";
}
    <div>
        <h1>ID:@Model.Id</h1>
        <h1>Name:@Model.Name</h1>
        <h1>Departement:@Model.Departement</h1>
        <h1>University:@Model.University</h1>
    </div>

